.margin {
  margin: 36px;
}
.table {
  width: 100%;
  text-align: left;
}
.table td {
  padding-top: 8px;
  padding-bottom: 10px;
}

#menu {
  background-color: #253a46;

  padding: 22px;
  font-size: 22px;
}

#menu a {
  color: #ffffff;
  padding-right: 22px;
}

body {
  margin: 0;
}

.center {
  margin-top: 200px;
  text-align: center;
}
